.backBtn {
    -fx-cursor: hand;
    -fx-background-image: url("../icons/back24px.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-background-radius: 25px;

    -fx-min-width: 25px;
    -fx-min-height: 25px;

    -fx-padding: 8px 22px 8px 44px;

    -fx-border-radius: 25;
    -fx-border-width: 3;
    -fx-border-color: black;
}