.subContent {
    -fx-padding: 25px;
}

.mainContent {
    -fx-padding: 37.5px;
}

.titleContent {
    -fx-padding: 80px 0px 50px 0px;
}

.topPaddingBox {
    -fx-padding: 20px 10px 0px 10px;
}

.bottomPaddingBox {
    -fx-padding: 0px 10px 20px 10px;
}

.paddingBox {
    -fx-padding: 20px 10px;
}

.smallBottomPadding {
    -fx-padding: 0px 10px 10px 10px;
}