.task {
    -fx-padding: 22px 22px 22px 44px;
    -fx-cursor: hand;
    -fx-width: 100px;

    -fx-background-color: white;
    -fx-background-radius: 16.4, 15;
    -fx-background-insets: -1.4, 0;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-border-color: black;

    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position:10px center;
}

#lightBtn {
    -fx-background-image: url("../icons/light24px.png");
    -fx-background-color: #9AD7A4;
}

#shapeBtn {
    -fx-background-image: url("../icons/shape24px.png");
    -fx-background-color: #F0CA86
}

#naviBtn {
    -fx-background-image: url("../icons/navigate24px.png");
    -fx-background-color: #D4F4FE
}

#zigBtn {
    -fx-background-image: url("../icons/zigzag24px.png");
    -fx-background-color: #DDE59B
}

#objectBtn {
    -fx-background-image: url("../icons/object24px.png");
    -fx-background-color: #BFC9FD
}

#danceBtn {
    -fx-background-image: url("../icons/dance24px.png");
    -fx-background-color: #DAB4E5
}